.topNav {
  margin-bottom: 70px;
  .parent {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr auto;
align-items: center;
grid-template-areas: 'left nav';
    .mobileMenuBtn {
      display: none;
      grid-area: mobileMenu;
    }
    @media all and (max-width: 1024px) {
    grid-template-columns: 24px 1fr auto;
    grid-template-areas: 'mobileMenu left nav';

      .mobileMenuBtn {
        display: block;
      }
    }
    @media all and (max-width: 620px) {
  grid-template-areas: 'mobileMenu nav'
  'left left';
  justify-items: end;
        .mobileMenuBtn {
          display: block;
        }
        .left{
          width: 100%;
          .serachBox{
            width: 100%;

            max-width: 100% !important;
          }
        }
      }
    @media all and (max-width: 819px) {
      .navInviteUser {
        display: none !important;
      }
      .mobileMenuBtn {
        display: block;
      }
    }
    .left {
      grid-area: left;
      .navSearchUser{
        position: relative;
        
        .serachBox{
          background: #FFFFFF;
border: 2px solid #F5F3F8;
max-width: 400px;
height: 60px;
border-radius: 10px;
padding: 15px 20px;
          input{
            height: 100%;
            width: 100%;
border: none;
outline: 0;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 30px;
color: #363352;

}
&[data-menu="open"]{
 border-radius: 10px 10px 0 0 !important; 
}
        }
        .searchUserSuggestion{
            border-radius: 0 0 10px 10px !important;
            background: #F5F3F8;
            border: 2px solid #F5F3F8;
            position: absolute;
            left: 0;
            top: 58px;
            width: 100%;
            .listBox{
              &[data-count="1"]{
                .userItem{

                  border-radius: 0 0 10px 10px !important;
                }

              }
              .userItem{
                background-color: #fff;
              padding: 9px 23px;
              display: flex;
              align-items: center;
              justify-content: space-between;
              margin-bottom: 2px;
              height: 60px;
              &:last-child{
                border-radius: 0 0 10px 10px;
              }
              &:first-child{
                border-radius: 0;
              }
     
  h5{
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 21px;
color: #363352;
  }
  h6{
    font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 120%;
color: #363352;
  }
            }
          }
          .footer{
            display: flex;
            align-items: center;
            justify-content: end;
            padding: 6px 8px;
            height: 30px;
            h5{
              font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 8px;
line-height: 9px;
color: #979797;
            }
            img{
              width: 81px;
              display: block;
              margin-left: 9px;
height: 15px;
            }
          }
          }
      }
     
         
    }
    .nav {
      grid-area: nav;
      display: flex;
      align-items: center;
      @mixin navCard($bgcolor: #fff) {
        margin-left: 20px;
        max-width: 250px;
        border-radius: 50px;
        height: 45px;
        padding: 9px 20px;
        background-color: $bgcolor;
        display: flex;
        align-items: center;
        justify-content: center;
        h5 {
          font-family: "Poppins";
          font-style: normal;
          font-weight: 500;
          font-size: 15px;
          line-height: 30px;
          color: #ffffff;
        }
        input {
          width: 100%;
          font-family: "Poppins";
          font-style: normal;
          font-weight: 500;
          font-size: 15px;
          line-height: 30px;
          color: #ffffff;
          background-color: $bgcolor;
          border: 0;
          outline: none;
          padding: 5px 0;
		/* hide arrows
		 Chrome, Safari, Edge, Opera */
			&::-webkit-outer-spin-button,
			&::-webkit-inner-spin-button {
				-webkit-appearance: none !important;
				margin: 0 !important;
			}
		
			/* Firefox */
			&[type=number] {
				-moz-appearance: textfield !important;
			}
        }
        .icon {
          margin-left: 10px;
        }
      }

      .navInviteUser {
        @include navCard(#5f5fc1);
        cursor: pointer;
      }
      .notification{
        width: 35px;
        height: 35px;
        border-radius: 50%;
        background: #F5F3F8;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        cursor: pointer;

        
      }
      .profile{
        margin-left: 20px;
        display: flex;
        align-items: center;
        cursor: pointer;
        .photo{
          width: 35px;
          height: 35px;
          border-radius: 50%;
          background: #F5F3F8;
          img{
display: block;
width: 100%;
height: 100%;
object-fit: cover;
          }
        }
        h2{
          font-family: 'Poppins';
          font-style: normal;
          font-weight: 700;
          font-size: 16px;
          line-height: 120%;
          color: #363352;
          margin: 0 10px 0 9px;
        }
        svg{

        }
      }
    }
  }
}
