.Container{
    background-color: #F5F3F8 ;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 115px;
    padding: 34px 0;
}