@import '../../../styles/Base.scss';

.upcomingBirthDays{
    @include dashCard();
    .userList {
        margin-top: 20px;
        display: grid;
        grid-template-columns: 1fr;
        grid-row-gap: 23px;
        .userItem {
          display: grid;
          grid-template-columns: 60px auto;
          grid-column-gap: 15px;
          align-items: center;
          .profile {
            width: 60px;
            height: 60px;
            border-radius: 50%;
            background-color: #a3a1be;
            img {
              width: 100%;
              display: block;
              border-radius: 50%;
            }
          }
          .info {
            h5 {
              font-family: "Poppins";
              font-style: normal;
              font-weight: 700;
              font-size: 14px;
              line-height: 120%;
              color: #363352;
            }
            h6 {
              font-family: "Poppins";
              font-style: normal;
              font-weight: 400;
              font-size: 14px;
              line-height: 21px;
              margin-top: 3px;
              color: #363352;
            }
          }
          .value {
            text-align: end;
            font-family: "Poppins";
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 120%;
            color: #363352;
          }
        }
    }
    .more{
        margin-top: 54px;
        h6{
            font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 21px;
text-decoration-line: underline;
cursor: pointer;
color: #363352;
        }
    }
}